<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    /*aqui estou estabelecendo conexão com o servidor - ou seja, eu já sei quem é o cliente
    é essa pagina html - por isso servidor sabe qual é o cliente*/
	var socket = io("http://localhost:3000");
	/*Esse socket send-client - é o que tá recebendo as mensagens do servidor
	e carregando html novament - é só ver que no app.js tem um client.emit(send-client, msg)*/ 
	socket.emit("join", "<%- sala %>");
	socket.on("send-client", function (msg) {
		var chat = document.getElementById("chat");
		chat.innerHTML += msg;
	});
	var enviar = function() {
		var msg = document.getElementById("msg");
		socket.emit("send-server", msg.value);
	};
</script>
<header>
	<h2>Ntalk - Chat</h2>
</header>
<section>
	<pre id="chat"></pre>
	<input type="text" id="msg" placeholder="Mensagem">
	<button onclick="enviar();">Enviar</button>
</section>
<% include ../exit %>
<% include ../footer %>