<% include ../header %>
<header>
    <h2>Adicionar contato</h2>
</header>

<section>
    <hr>
    <% if (contacts.length != 0) { %>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
        <% contacts.forEach(function(contact) { %>
        <tr>
            <td><%- contact.name %></td>
            <td><%- contact.email %></td>
            <td>
                <form action="/add_group_member" method="post">
                    <input type="hidden" value="<%- contact.id %>" name="contact[id]">
                    <input type="hidden" value="<%- groupId %>" name="group[id]">
                    <button type="submit">adicionar</button>
                </form>
            </td>    
        </tr>
        <% }) %>
        </tbody>
    </table>
    <% } else { %>
        <h4>Nenhum contato</h4>
    <% } %>
</section>

<% include ../exit %>
<% include ../footer %>